.nav-atas .navbar-nav {
  margin-right: 250px;
  font-size: 14px;
  font-weight: 500;
}

.nav-bawah {
  margin-bottom: -20px;
}

.nav-bawah .navbar-nav {
  font-size: 14px;
  font-weight: 500;
}

.nav-atas .nav-item {
  padding-right: 40px;
}

.nav-bawah .nav-item {
  padding-right: 20px;
}

.navbar {
  margin-bottom: 30px;
}

body {
  background-color: #232323;
  color: white;
}

@media only screen and (max-width: 700px) {
  .about .container .row .m-about1 img {
    margin-top: 100px;
    width: 200px;
    height: 400px;
  }
}

@media only screen and (min-width: 700px) {
  .about .container .row .m-about1 img {
    width: 400px;
    height: 600px;
  }
}

.about .container .row .m-about2 {
  margin-top: 150px;
}

.about .container .row .m-about2 h6 {
  color: #ef4040;
}

.about .container .row .m-about2 h1 {
  font-weight: 750;
}

.experience {
  margin-top: 100px;
}

@media only screen and (max-width: 700px) {
  .experience .baris1 .col-lg-4 {
    /* width: 200px;
    height: 400px; */
  }
}

@media only screen and (min-width: 700px) {
  .experience .baris1 .col-lg-4 {
    width: 240px;
    height: 240px;
  }
}

.experience .baris1 .col-lg-4 {
  /* width: 240px;
  height: 240px; */
  background-color: #1e1e1e;
  margin-bottom: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11px;
  padding: 40px;
}

.experience .baris1 .c2 {
  background-image: linear-gradient(to top left, #9f101a 0%, #d41e2c 100%);
}

.experience .baris2 .col-4 {
  width: 240px;
  height: 240px;
  margin-bottom: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  /* .bg-atas{
    height: 800px;
    background-color: #1e1e1e;
    width: 50%;
    margin-top: -2140px;
  } */
}

@media only screen and (min-width: 800px) {
  .bg-atas {
    height: 800px;
    background-color: #1e1e1e;
    width: 50%;
    margin-top: -2140px;
  }
}

.experience .baris2 .col-4 .panjang {
  width: 240px;
  height: 115px;
  background-color: #1e1e1e;
  margin-bottom: 10px;
}

.experience .baris1 .col-4 h5 {
  padding-top: 20px;
}

.experience .baris2 .col-4 h2 {
  padding-top: 15px;
}

.experience .baris1 .col-4 p {
  padding-top: 6px;
}

.experience h1 {
  font-size: 90px;
  font-weight: 700;
  color: #ef4040;
}

.experience h2 {
  font-weight: 700;
  color: #ef4040;
}

.experience p {
  font-weight: 300;
}

.more {
  font-size: 13px;
  letter-spacing: 2px;
  margin-top: -6px;
  text-decoration: none;
  color: #ef4040;
}

.more:hover {
  color: #ef4040;
}

.ktk-atas {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-top: 10px;
}

/* .project .container .row .col-3 a {
  margin-left: 60px;
} */

@media only screen and (min-width: 700px) {
  .project .container .ktk-atas .col-4 a {
    margin-left: 160px;
  }
}

@media only screen and (max-width: 700px) {
  .project .container .row .ktk .galeri {
    width: 380px;
    height: 200px;
    background-color: #1e1e1e;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .project .container .row .ktk img {
    width: 300px;
    height: 180px;
  }
}

@media only screen and (min-width: 700px) {
  .project .container .row .ktk .galeri {
    width: 500px;
    height: 400px;
    background-color: #1e1e1e;
    margin: 10px;
  }

  .project .container .row .ktk img {
    width: 400px;
    height: 280px;
  }

  .project .container .row .ktk .kata {
    margin-left: 0.1px;
  }

  .project .container .col-6 {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

/* .project .container .row .ktk .galeri {
  width: 500px;
  height: 400px;
  background-color: #1e1e1e;
  margin: 10px;
}

.project .container .row .ktk img {
  width: 400px;
  height: 280px;
} */

.contact .container .pembungkus {
  width: 1100px;
  height: 300px;
  background-color: #1e1e1e;
  margin: 100px auto;
  padding-left: 40px;
}

.contact .container .pembungkus h1 {
  font-weight: 800;
}

.contact .container .pembungkus p {
  font-weight: 300;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #181818;
}

.btn-danger {
  padding: 10px 30px;
  border-radius: 0;
  background-image: linear-gradient(to right, #9e101a 0%, #c41a27 100%);
  letter-spacing: 2px;
  border: none;
}

.btn-danger:hover {
  background-image: linear-gradient(to right, #e10f1d 0%, #d8081a 100%);
}

@media only screen and (max-width: 800px) {
  /* .bg {
    height: 550px;
    background-color: #181818;
    margin-top: -920px;
  } */
}

@media only screen and (min-width: 800px) {
  .bg {
    height: 550px;
    background-color: #181818;
    margin-top: -920px;
  }
}
